---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Cakes from "../components/Cakes.astro";
import FAQ from "../components/FAQ.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <div
    data-bs-spy="scroll"
    data-bs-target="#navbar"
    data-bs-root-margin="0px 0px -40%"
    data-bs-smooth-scroll="true"
    class="container-fluid"
  >
    <div class="py-3">
      <Hero />
    </div>
    <div class="py-3">
      <About />
    </div>
    <div class="py-3">
      <Cakes />
    </div>
    <div class="py-3">
      <FAQ />
    </div>
    <div class="py-3">
      <Contact />
    </div>
  </div>
</Layout>
