---
import { SITE_TITLE } from "../consts";
import type { Link } from "../types/links";

type Props = {
  links: Link[];
};

const { links } = Astro.props;
---

<nav
  id="navbar"
  class="navbar navbar-expand-lg py-3 position-sticky sticky-top bg-primary"
  data-bs-theme="dark"
>
  <div class="container">
    <a
      href="/"
      class="navbar-brand ps-2 ps-lg-0 text-dark"
      aria-label={SITE_TITLE}
    >
      {SITE_TITLE}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-collapse"
      aria-controls="navbar-collapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pt-2 pt-lg-0" id="navbar-collapse">
      <ul class="navbar-nav ms-auto text-end">
        {
          links.map(({ href, text }) => (
            <li class="nav-item ms-lg-4">
              <a
                href={href}
                class="nav-link link-offset-2 d-block py-2 py-lg-0 text-dark"
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>

<script>
  import { Collapse } from "bootstrap";
  const $navbar = document.getElementById("navbar-collapse");
  if ($navbar) {
    const collapse = new Collapse($navbar, { toggle: false });
    $navbar.querySelectorAll(".nav-item").forEach((link) => {
      link.addEventListener("click", () => {
        collapse.hide();
      });
    });
  }

  window.addEventListener("scroll", () => {
    const navbar = document.getElementById("navbar");
    if (navbar) {
      if (window.scrollY > 50) {
        navbar.classList.add("scrolled");
      } else {
        navbar.classList.remove("scrolled");
      }
    }
  });
</script>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

  nav {
    font-family: "Berkshire Swash", cursive;
  }

  .navbar-nav {
    width: 100%;
    justify-content: flex-end;
  }
</style>
