---
import { Image } from "astro:assets";
import Cake1 from "../assets/chanelCake.jpg";
import Cake2 from "../assets/faceCake.jpg";
import Cake3 from "../assets/jungleCake.jpg";

const cakes = [
  { src: Cake1, alt: "Chanel Cake" },
  { src: Cake2, alt: "Face Cake" },
  { src: Cake3, alt: "Jungle Cake" },
];
---

<div
  class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
>
  <div class="position-relative">
    <h1 class="display-4 fw-bold">
      Cakes,<span class="d-inline d-sm-none"><br /></span> Customized to You
    </h1>
    <div class="col-lg-8 mx-auto">
      <p class="lead mb-4">
        Let us take the stress out of your special occasion with our exquisite
        cakes and delectable sweets. Focus on enjoying your celebration, not on
        spending hours in the kitchen.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-3">
        <a href="#contact" class="btn btn-primary btn-lg px-4"> Order now </a>
      </div>
    </div>
  </div>

  <div class="blaze-slider w-100">
    <div class="blaze-container">
      <div class="blaze-track-container">
        <div class="blaze-track">
          {
            cakes.map((cake) => (
              <div class="d-flex justify-content-center">
                <div
                  class="overflow-hidden rounded-4"
                  style="max-width: 400px; width: 100%;"
                >
                  <Image
                    src={cake.src}
                    alt={cake.alt}
                    class="img-fluid w-100 h-auto"
                    widths={[400, 800]}
                    sizes="(max-width: 400px) 100vw, 400px"
                  />
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  import BlazeSlider from "blaze-slider";
  import "blaze-slider/dist/blaze.css";

  const el = document.querySelector(".blaze-slider");

  if (el instanceof HTMLElement) {
    new BlazeSlider(el, {
      all: {
        enableAutoplay: true,
        autoplayInterval: 4000,
        transitionDuration: 900,
      },
    });
  } else {
    console.error("Blaze slider element not found");
  }
</script>

<style is:global>
  .blaze-slider {
    max-width: 900px;
    margin: 0 auto;
  }
  .blaze-track {
    gap: 1rem;
  }
  .blaze-prev,
  .blaze-next {
    margin: 0 0.5rem;
  }
  .overlay {
    z-index: 1;
  }
  .position-relative {
    z-index: 2;
  }
</style>
